.navbar {
  height: min-content;
  background-color: #f4f9f3;
  padding: 0 5rem;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.navbar-header {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}

/*---------- Left ----------*/

.navbar_left {
  display: flex;
  text-align: center;
  align-items: center;
}
.logo_l {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000568;
  padding: 1.2rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}
.logo_l span {
  color: #f4f9f3;
  padding: 0 0 0 0 !important;
  margin: 0 !important;
  border-radius: 60%;
  font-weight: 800;
  font-size: 1.2rem;
  font-family: "Sacramento", cursive;
}
.logo_r {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0 0.5rem;
  font-family: "Neuton", serif;
}
/*---------- Right ----------*/
.navbar_right nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "Reem Kufi", sans-serif;
}
.navbar_right nav li {
  padding: 0 1.2rem;
}
/* .line {
  border-bottom: 2px solid #fe8943;
} */
.act {
  /* color: #fe8943; */
  border-bottom: 2px solid #fe8943;
}

/* --------------Navbar Content---------------- */
.navbar_content {
  padding: 1rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  /* grid-template-columns: repeat(auto-fill, minmax(1fr, 2fr)); */
  gap: 15px;
  font-family: "Reem Kufi", sans-serif;
  justify-content: stretch;
}

/* -------- left -------- */
.nav_l_content {
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nav_l_content p {
  color: #5d6199;
  font-size: 1.1rem;
  letter-spacing: 1.2px;
  line-height: 1.3;
  font-family: "Noto Sans SC", sans-serif;
  word-spacing: 5px;
}
.intro {
  font-weight: 600;
  font-size: 8rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1;
}
.intro_name {
  display: flex;
  justify-content: left;
  align-items: start;
  flex-wrap: wrap;
}
.orange {
  color: #fe8943;
}
.wavinghand {
  height: 8rem;
}

/* --------right------- */
.nav_r_content {
  text-align: center;
}
.intro_content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: auto;
  gap: 10px;
  max-width: 40rem;
}
.man {
  height: 34rem;
}
.social {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 1rem 0;
}
.social a {
  margin: 0 1.8rem 0 0;
}
.social a i {
  font-size: 1.8rem;
  color: #000568;
}
/* #1b4d89 Dark Blue */
/* #51dad0 greenishblue */
/* #fe8943 orange */
/* #f4f9f3 white */
/* #000568 blue */
/* #D8E1F1 light whitblue */

/* hii */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1)
    infinite alternate both;
  animation: tracking-in-expand 2s cubic-bezier(0.215, 0.61, 0.355, 1) alternate
    both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

/* lets talk */
.blink-1 {
  -webkit-animation: blink-1 5s ease-out infinite both;
  animation: blink-1 5s ease-out infinite both;
}
@-webkit-keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
@keyframes blink-1 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}
/* i Am Rohit */
.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 1s cubic-bezier(0.075, 0.82, 1, 1)
    forwards;
  animation: slide-in-blurred-right 1s cubic-bezier(0.075, 0.82, 1, 1) forwards;
}
@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
/* paragraph */
.slide-in-blurred-bottom {
  -webkit-animation: slide-in-blurred-bottom 1s ease-out alternate both;
  animation: slide-in-blurred-bottom 1.1s ease-out alternate both;
}
@-webkit-keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-bottom {
  0% {
    -webkit-transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* social */
.slide-in-blurred-right {
  -webkit-animation: slide-in-blurred-right 1s ease-out alternate forwards;
  animation: slide-in-blurred-right 1s ease-out alternate forwards;
}
@-webkit-keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-right {
  0% {
    -webkit-transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
    transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

/* img */
.slide-in-blurred-top {
  -webkit-animation: slide-in-blurred-top 1s ease-out both;
  animation: slide-in-blurred-top 1s ease-out both;
}
@-webkit-keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-top {
  0% {
    -webkit-transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    transform: translateY(-1000px) scaleY(2.5) scaleX(0.2);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) scaleY(1) scaleX(1);
    transform: translateY(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}
