@import url("https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Noto+Sans+SC:wght@300;400&family=Reem+Kufi:wght@400;500;600;700&family=Sacramento&display=swap");

/* 
font-family: 'Neuton', serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Reem Kufi', sans-serif;
font-family: 'Sacramento', cursive; 
*/

/* #1b4d89 Dark Blue */
/* #51dado greenishblue */
/* #fe8943 orange */
/* #f4f9f3 white */
/* #000568 blue */
/* #D8E1F1 light whitblue */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #000568;
  scroll-behavior: smooth;
}
li,
a {
  list-style: none;
  list-style-type: none;
  text-decoration: none;
}
